@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants dark {
    .autocomplete-wrapper {
      max-height: 60px;
      min-width: 71%;
    }

    .autocomplete-wrapper > div {
      width: 100%;
    }

    .autocomplete-wrapper input {
      background-color: rgba(243, 244, 246);
      border: 1px solid rgba(31, 41, 55, 0.2);
      padding: 12px 15px;
      font-size: 14px;
      width: 100%;
      border-radius: 0.5rem;
      box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.1);
    }

    .autocomplete-wrapper input:focus {
      border-color: #696969;
      box-shadow: none;
      outline: none;
    }

    .autocomplete-wrapper .dropdown {
      position: relative;
      z-index: 2;
      width: 100%;
      padding: 0;
      text-align: left;
      max-height: 280px;
      overflow: hidden;
      overflow-y: auto;
      background-color: rgba(17, 24, 39);
      border: 1px solid #696969;
      border-top: none;
      color: rgba(229, 231, 235);
    }

    .autocomplete-wrapper .item {
      z-index: 2;
      position: relative;
      display: block;
      cursor: pointer;
      font-size: 14px;
      padding: 15px;
    }

    .autocomplete-wrapper .item.selected-item {
      background-color: #4b5563;
      color: #fafbfc;
    }

    .autocomplete-wrapper .item:hover {
      background-color: rgba(55, 65, 81);
      color: #fafbfc;
    }
  }
}
.autocomplete-wrapper {
  max-height: 60px;
  min-width: 71%;
  /* max-width: 800px; */
}

.autocomplete-wrapper > div {
  width: 100%;
}

.autocomplete-wrapper input {
  background-color: rgba(17, 24, 39);
  border: 1px solid rgba(75, 85, 99);
  padding: 12px 15px;
  font-size: 14px;
  width: 100%;
  color: rgba(229, 231, 235);
  border-radius: 0.5rem;
}

.autocomplete-wrapper input:focus {
  border-color: #696969;
  box-shadow: none;
  outline: none;
}

.autocomplete-wrapper .dropdown {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 0;
  text-align: left;
  max-height: 280px;
  overflow: hidden;
  overflow-y: auto;
  background-color: rgba(17, 24, 39);
  border: 1px solid #696969;
  border-top: none;
  color: rgba(229, 231, 235);
}

.autocomplete-wrapper .item {
  z-index: 2;
  position: relative;
  display: block;
  cursor: pointer;
  font-size: 14px;
  padding: 15px;
}

.autocomplete-wrapper .item.selected-item {
  background-color: #4b5563;
  color: #fafbfc;
}

.autocomplete-wrapper .item:hover {
  background-color: rgba(55, 65, 81);
  color: #fafbfc;
}
/* dark mode */
